:root{
    --azul: #6EB3D0;
    --verde: #3e951a;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #424242;
    --branco: #FFFFFF;
}

header,footer{
    background-color: var(--azul);
}

.card, .card img{
    border-radius: 0%;
}

.card{
    padding: 1rem;
    border: var(--preto) 2px solid;
}

.card button{
    background-color: var(--rosa);
    color: var(--preto);
    border: none;
    border-radius: 0%;
}

.card button:hover{
    background-color: #b46286;
}
.card button:active{
    background-color: var(--branco)!important;
    color: var(--rosa)!important;
}

form input{
    border: 1px solid black!important;
}